<div id="<%= dom_id task %>">
  <p>
    <strong>Description:</strong>
    <%= task.description %>
  </p>

  <p>
    <strong>Debit price:</strong>
    <%= task.debit_price %>
  </p>

  <p>
    <strong>Credit price:</strong>
    <%= task.credit_price %>
  </p>

  <p>
    <strong>User:</strong>
    <%= task.user_id %>
  </p>

</div>
